.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px 15px;
  background-color: #424242;
}

.logo {
  font-size: 18px;
  font-weight: bold;
  color: #f65261;
}

.logo > span {
  font-weight: normal;
}
