.btn {
  position: relative;
  padding: 10px 15px;
  max-height: 37px;
  background-color: #f65261;
  border: none;
  border-radius: 5px;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
  text-transform: uppercase;
  display: inline-block;
  text-decoration: none;
  outline: none;
}

.btn:hover {
  background-color: #f76773;
}

.btn[disabled] {
  opacity: 0.5;
  cursor: not-allowed;
}

.btn.active {
  background-color: rgba(246, 82, 97, 0.6);
  box-shadow: 0 0 2px 0 #c0c0c0;
}

.btn.invert {
  background-color: #fff;
  color: #000;
  border: 1px solid rgba(0, 0, 0, 0.2);
}
